<div class="display-6" style="margin-bottom: 0.5em;">{{data.name}}</div>

<table class="table table-hover">
    <tbody>
        <tr class="table-light">
            <th scope="row">Capital</th>
            <td>{{data.capital}}</td>
        </tr>
        <tr>
            <th scope="row">Area</th>
            <td>{{data.area | number}} km<sup>2</sup></td>
        </tr>
        <tr class="table-light">
            <th scope="row">Population</th>
            <td>{{data.population | number}}</td>
        </tr>
        <tr>
            <th scope="row">GDP</th>
            <td>{{data.gdp | number}} USD</td>
        </tr>
        <tr class="table-light">
            <th scope="row">Currency</th>
            <td>{{data.currency}}</td>
        </tr>
    </tbody>
</table>

<div class="col-12">
    <img src="{{data.flag_url}}" class="col-6 flag" style="margin-bottom: 1em;">
</div>

<button class="btn btn-danger" (click)="goBack()">Go Back</button>