<div class="display-6">Three Most Populated Countries</div>

<div class="d-flex justify-content-around">
    <div *ngFor="let m of mostPopulateds" class="big-button d-flex flex-column justify-content-center align-items-center">
        <strong>{{m.name}}</strong>
        <div>{{m.population | number}} People</div>
    </div>
</div>

<div class="display-6">Three Largest Countries (Land Area)</div>

<div class="d-flex justify-content-around">
    <div *ngFor="let l of largests" class="big-button d-flex flex-column justify-content-center align-items-center">
        <strong>{{l.name}}</strong>
        <div>{{l.area | number}} km<sup>2</sup></div>
    </div>
</div>