<div class="container">
  <p class="display-3">Fun Facts About Countries</p>
  <div class="col-12 d-flex justify-content-center">
    <button *ngIf="!isHome" class="btn btn-dark navBtn" (click)="goToHome()">
      Go to Homepage
    </button>
    <button *ngIf="!isAll" class="btn btn-dark navBtn" (click)="goToAll()">
      Go to All Countries
    </button>
  </div>
  <hr>
  
  <app-home 
    (goToDetailEvent)="homeToDetails($event)"
    *ngIf="isHome" 
    [data]="countries"></app-home>
  <app-allcountries 
    (goToDetailEvent)="allToDetails($event)"
    *ngIf="isAll" 
    [data]="countries"></app-allcountries>
  <app-countrydetail 
    (goBackEventHandler)="goBack($event)"
    *ngIf="isDetail" 
    [data]="detailCountry" 
    [isFromAll]="isFromAll"></app-countrydetail>

  <footer 
    class="text-center p-4 container">
    Created by <strong>Ricky (019)</strong> 
  </footer>
</div>
